<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>verseKey</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Verse of the Day</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>OTHER NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>News from TheLight</string>
			<key>Key</key>
			<string>productNewsKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>Strings Table</key>
	<string>Notification</string>
	<key>Title</key>
	<string>Notification</string>
</dict>
</plist>
