<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Registered</string>
			<key>Key</key>
			<string>registerKey</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Login</string>
			<key>Key</key>
			<string>loginKey</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Parse Data</string>
			<key>Key</key>
			<string>parsedataKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent Auto-Lock</string>
			<key>Key</key>
			<string>autolockKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Notification Settings</string>
			<key>File</key>
			<string>Notification</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Personal Info</string>
			<key>File</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Titles</key>
			<array>
				<string>System</string>
				<string>Avenir</string>
				<string>Baskerville</string>
				<string>Georgia</string>
				<string>Helvetica Neue</string>
				<string>Hoefler Text</string>
				<string>Verdana</string>
			</array>
			<key>Values</key>
			<array>
				<string>System</string>
				<string>Avenir</string>
				<string>Baskerville</string>
				<string>Georgia</string>
				<string>Helvetica Neue</string>
				<string>Hoefler</string>
				<string>Verdana</string>
			</array>
			<key>Key</key>
			<string>fontKey</string>
			<key>DefaultValue</key>
			<string>fontKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Size</string>
			<key>Titles</key>
			<array>
				<string>12pt</string>
				<string>14pt</string>
				<string>16pt</string>
				<string>18pt</string>
				<string>20pt</string>
			</array>
			<key>Values</key>
			<array>
				<string>12</string>
				<string>14</string>
				<string>16</string>
				<string>18</string>
				<string>20</string>
			</array>
			<key>Key</key>
			<string>fontsizeKey</string>
			<key>DefaultValue</key>
			<string>fontsizeKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color</string>
			<key>Titles</key>
			<array>
				<string>Blue</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Key</key>
			<string>nameColorKey</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sound</string>
			<key>Key</key>
			<string>soundKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Timer</string>
			<key>Key</key>
			<string>timerKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>iAd</string>
			<key>Key</key>
			<string>iadKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>versionKey</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Map</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Latitude</string>
			<key>Key</key>
			<string>latitudeKey</string>
			<key>DefaultValue</key>
			<string>40.714353</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Longtitude</string>
			<key>Key</key>
			<string>longtitudeKey</string>
			<key>DefaultValue</key>
			<string>74.005973</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Calender</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Event Title</string>
			<key>Titles</key>
			<array>
				<string>Meeting</string>
				<string>Appt</string>
				<string>Check</string>
				<string>Bill</string>
			</array>
			<key>Values</key>
			<array>
				<string>Meeting:</string>
				<string>Appt:</string>
				<string>Check:</string>
				<string>Bill:</string>
			</array>
			<key>Key</key>
			<string>eventtitleKey</string>
			<key>DefaultValue</key>
			<string>Appt</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Duration</string>
			<key>Titles</key>
			<array>
				<string>1 Hour</string>
				<string>2 Hour</string>
				<string>All day</string>
			</array>
			<key>Values</key>
			<array>
				<string>1 Hour</string>
				<string>2 Hours</string>
				<string>All day</string>
			</array>
			<key>Key</key>
			<string>DurationKey</string>
			<key>DefaultValue</key>
			<string>1 Hour</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Data Entry</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Area Code</string>
			<key>Values</key>
			<array>
				<string>(516)</string>
				<string>(718)</string>
				<string>(212)</string>
			</array>
			<key>Titles</key>
			<array>
				<string>(516)</string>
				<string>(718)</string>
				<string>(212)</string>
			</array>
			<key>Key</key>
			<string>areacodeKey</string>
			<key>DefaultValue</key>
			<string>(516)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email Title</string>
			<key>Key</key>
			<string>emailtitleKey</string>
			<key>DefaultValue</key>
			<string>TheLight Support</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email Message</string>
			<key>Key</key>
			<string>emailmessageKey</string>
			<key>DefaultValue</key>
			<string>&lt;h2&gt;Learning iOS Programming!&lt;/h2&gt;</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
